html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// $rootpath: '../';  // !!! пути к файлам в билде
$rootpath: "../";

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "AvenirNextCyrLight", Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--main-beige);
  font-family: "AvenirNextCyrLight", Roboto, sans-serif;
  font-size: 18px;
  color: var(--main-black);
}

.page__body {
  margin: 0;
  min-width: 300px;
  min-height: 100%;
  font-size: 18px;
  @include mobile {
    font-size: 16px;
  }
}

.page__body.main {
  background-color: var(--color-black);
}

.page__body.new,
.page__body.startups {
  background-color: var(--main-beige);
}

section {
  // min-width: 320px;
}

.main {
  margin-top: var(--header-height);
  background-color: var(--color-black);
}

.text-normal {
  font-size: 22px;
  line-height: 27px;
}

.text-medium {
  font-size: 18px;
  line-height: 22px;
}

.text-small {
  font-size: 14px;
  line-height: 22px;
}

h1.heading {
  text-align: center;
  @include mobile {
    margin-top: 0;
  }
}

.mobile {
  @include desktop {
    display: none !important;
  }
}
.smallscreen {
  @include smallscreen-plus {
    display: none !important;
  }
}

.desktop {
  @include mobile {
    display: none !important;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

a,
p,
span,
div,
button {
  font-family: "AvenirNextCyrLight", Roboto, sans-serif;
}

a.linkin {
  text-decoration: underline;
  color: var(--main-black);
  &:hover {
    color: var(--main-bronze);
  }
}

a {
  color: var(--main-bronze);
}

a.email {
  color: var(--main-bronze);
}

a.tel {
  color: var(--main-bronze);
}

span.email {
  color: var(--main-bronze);
}

span.tel {
  color: var(--main-bronze);
}

p {
  margin: 12px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.18px;
}

.site-container {
  // overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  column-gap: var(--offset-main);
  grid-template-columns: 12, 1fr;
}

.head-h0 {
  font-family: "IntroDemoCondLightCAPS";
  font-size: 65px;
  font-weight: 300;
  line-height: 81px;
  letter-spacing: 0em;
  text-transform: uppercase;
  @include mobile {
    font-size: 42px;
    line-height: 46px;
  }
}

h1 {
  font-family: "IntroDemoCondLightCAPS";
  font-size: 42px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0em;
  text-transform: uppercase;
  @include mobile {
    font-size: 29px;
    line-height: 36px;
  }
}

h1.heading {
  margin: 60px 20px;
  @include mobile {
    margin: 92px 20px 0 20px;
  }
}

h2 {
  font-family: "IntroDemoCondLightCAPS";
  font-size: 29px;
  font-weight: 300;
  line-height: 36px;
  text-transform: uppercase;
  @include mobile {
  }
}

h3 {
  font-family: "IntroDemoCondLightCAPS";
  font-size: 22px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.w-100 {
  width: 100% !important;
}
.buffer-top {
  height: var(--header-height);
}

.bg-beige {
  background-color: var(--main-beige) !important;
}
.bronze {
  color: var(--main-bronze);
}

.nobr {
  word-break: keep-all;
  white-space: nowrap;
}
