/* Base Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--brand-white: #fff;
	--brand-black: #0f1110;
	--brand-dark-grey: #262626;
	--electric-blue: #356bce;
	--medium-blue: #5ddaec;
	--light-blue: #f2f5fd;
	--snow-blue: #9dbefb;
	--stroke-blue: #d3deff;
	--stroke-form: #d1e1fd;
	--red-err: #ff2e00;
	--value-blue: #bfd1f8;
	--default-form: #92a2c4;
	--light-green: #dafbeb;
	--normal-green: #199959;
	--pink: #ea5092;
	--light-pink: #ffa4d6;
}
html {
	scroll-padding-top: 30px;
}
.montserrat-400 {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--light-blue);
	color: var(--brand-black);
	overflow-x: hidden;
}

div,
p,
span,
a,
form,
button,
input,
textarea {
	font-family: 'Montserrat';
}

body,
p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	color: inherit;
}

.color-blue {
	color: var(--electric-blue);
}
.color-snow-blue {
	color: var(--snow-blue);
}

.color-pink {
	color: var(--pink);
}
@media (max-width: 989px) {
	.mobile-hide {
		display: none;
	}
}

@media (min-width: 990px) {
	.desktop-hide {
		display: none;
	}
}
/* Mobile First */

h1,
.h1 {
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
}

.h1_footer {
	color: rgba(74, 74, 74, 1);
	margin-bottom: 48px;
}

h2,
.h2 {
	font-size: 28px;
	font-weight: 600;
	line-height: 34px;
	text-transform: uppercase;
}

h3,
.h3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 24px;
}

.h3_vac {
	/* font-size: 24px; */
	font-size: 20px;
	font-weight: 600;
	line-height: 32px;
	text-transform: uppercase;
}
.hand {
	cursor: pointer;
}
.nowrap {
	white-space: nowrap;
}
/* CONTENT */

.main-content {
	display: flex;
	flex-direction: column;
	background: transparent;
	gap: 16px;
}

div.section {
	background-color: var(--brand-white);
	border-radius: 24px;
	padding: 32px 16px;
	margin: 0 auto;
	max-width: 1440px;
}

div.section_transparent {
	background-color: transparent;
	/* border: 1px dashed white; */
}
footer {
	position: relative;
	overflow: hidden;
}
.footer-content {
	position: relative;
	z-index: 1;
}
.footer-bg {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;

	width: 100%;
	height: 400px;
	z-index: 0;
}
.lap1 {
	width: 10%;
	height: 100%;
	margin-top: 100px;
	background-image: url('../img/lapki/l1.svg');
	background-repeat: no-repeat;
	background-size: contain;
	animation: fadeInOut 10s infinite;
	animation-delay: 2s;
	opacity: 0;
}
.lap2 {
	width: 10%;
	height: 100%;
	margin-top: 10px;
	background-image: url('../img/lapki/l2.svg');
	background-repeat: no-repeat;
	background-size: contain;
	animation: fadeInOut 10s infinite;
	animation-delay: 4s;
	opacity: 0;
}
.lap3 {
	width: 10%;
	height: 100%;
	margin-top: 50px;
	background-image: url('../img/lapki/l3.svg');
	background-repeat: no-repeat;
	background-size: contain;
	animation: fadeInOut 10s infinite;
	animation-delay: 6s;
	opacity: 0;
}
.lap4 {
	width: 10%;
	height: 100%;
	margin-top: 60px;
	background-image: url('../img/lapki/l4.svg');
	background-repeat: no-repeat;
	background-size: contain;
	animation: fadeInOut 10s infinite;
	animation-delay: 8s;
	opacity: 0;
}
.lap5 {
	width: 10%;
	height: 100%;
	margin-top: 80px;
	background-image: url('../img/lapki/l5.svg');
	background-repeat: no-repeat;
	background-size: contain;
	animation: fadeInOut 10s infinite;
	animation-delay: 10s;
	opacity: 0;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1; /* Fade in over 1.4 seconds (20% of 7s) */
	}
	60% {
		opacity: 1; /* Hold opacity at 1 for 3 seconds (60% of 7s) */
	}
	100% {
		opacity: 0; /* Fade out over 1.4 seconds */
	}
}

/* СЕКЦИЯ РОСТ БИЗНЕСА */

.main-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	margin-bottom: 32px;
}

.first-section {
	z-index: 10;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}
.creative-word {
	display: inline-block;
	background-color: var(--electric-blue);
	color: var(--brand-white);
	padding: 10px 16px;
	font-size: 22px;
	line-height: 22px;
	font-weight: 700;
	border-radius: 12px;
	transform: translateY(6px) rotate(-5deg);
	transform-origin: left bottom;
}

.card__channel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 129px;
}
.card__channel_inner {
	height: 81px;
}

div.card__channel_1 {
	background-color: var(--electric-blue);
	margin-bottom: 16px;
}
div.card__channel_2 {
	background-color: var(--light-blue);
	color: var(--brand-black);
	height: max-content;
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 16px;
}

div.card__channel_3 {
	background-color: var(--medium-blue);
}
.card__indicators {
	display: flex;
	min-width: 240px;
	flex-wrap: wrap;
	gap: 6px;
}
.indicator_btn {
	display: inline-block;
	width: max-content;
	flex-grow: 1;
	background-color: var(--brand-white);
	border-radius: 10px;
	border-collapse: 10px;
	height: 62px;
	padding: 20px;
	color: var(--electric-blue);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	position: relative;
}

.indicator_btn::before {
	content: ''; /* Псевдоэлемент */
	position: absolute;
	top: 10px;
	left: 8px;
	right: 8px;
	bottom: 10px;
	border: 1px solid var(--value-blue);
	border-radius: 10px; /* Радиус скругления чуть меньше */
	pointer-events: none; /* Граница не мешает кликам */
}

.indicator_btn_revenue {
	flex-grow: 2;
	width: 100% !important;
}

.card__channel_title {
	font-size: 48px;
	font-weight: 500;
	line-height: 52px;
	color: var(--brand-white);
}
.card__channel_note {
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	color: var(--brand-white);
}

div.card__channel_2 .card__channel_title,
div.card__channel_2 .card__channel_note {
	color: var(--brand-black);
}

/* SERVICES / УСЛУГИ */

.services-container {
	margin-top: 24px;
	/* display: flex;
	gap: 16px; */
	overflow-x: auto;
	padding-bottom: 50px; /* 24 */
	/* scrollbar-width: auto;
	scrollbar-color: var(--electric-blue) transparent;  */
}

/* Стиль для скроллбаров в Webkit-браузерах (Chrome, Safari, Edge) */
.services-container::-webkit-scrollbar {
	height: 12px; /* Высота горизонтального скроллбара */
	cursor: pointer;
}

.services-container::-webkit-scrollbar-thumb {
	background-color: var(--electric-blue); /* Синий цвет для ползунка */
	border-radius: 6px; /* Скругленные углы */
	border: 2px solid transparent; /* Чтобы скругления не обрезались */
	background-clip: content-box; /* Убирает обрезку скругленных углов */
}

.services-container::-webkit-scrollbar-track {
	background-color: transparent; /* Прозрачный фон для дорожки скроллбара */
}
.services-container:hover::-webkit-scrollbar-track {
	background-color: silver;
}

.service {
	height: 494px;
	width: 339px;
	position: relative;
}
.service__top {
	position: relative;
	cursor: pointer;
	z-index: 5;
	height: 494px;
	width: 339px;
	border-radius: 24px;
	padding: 24px;
	opacity: 1;
	transition: all 0.4s;
}
.service.show .service__top {
	visibility: hidden;
	cursor: unset;
	opacity: 0;
	transition: all 0.4s;
}
.service__content {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	height: 494px;
	width: 339px;
	border-radius: 24px;
	padding: 24px;
	background-color: var(--light-blue);
}

.service__content .service__btn {
	position: absolute;
	left: 24px;
	bottom: 24px;
	width: 235px;
	height: 48px;
	padding: 13px;
}

.service__show-btn {
	background-color: var(--brand-white);
	background-image: url('../img/icon_plus.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 12px;
	position: absolute;
	bottom: 24px;
	right: 24px;
	width: 48px;
	height: 48px;
	border-radius: 40px;
	z-index: 10;
	cursor: pointer;
	transition: all 0.4s;
}

.service__show-btn.show {
	background-image: url('../img/icon_minus.svg');
}

/* SLIDER  */

.slick-arrow {
	position: absolute;
	top: 45%;
	margin-top: -15px;
	z-index: 500;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid var(--electric-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: all 0.4s;
	/* Adding semi-transparent glow effect */
	box-shadow: 0 0 5px rgba(240, 242, 248, 0.5);
}

.slider_responsive .slick-slide {
	width: 340px !important; /* Set your desired fixed width */
	margin-right: 6px;
}

/* Optional: Add a stronger glow on hover */
.slick-arrow:hover {
	box-shadow: 0 0 10px rgba(240, 242, 248, 0.7);
}

.slick-arrow:before {
	font-size: 30px;
}
.slick-disabled {
	opacity: 0;
}
.slick-next {
	right: 30px;
}
.slick-prev {
	left: 30px;
}

/* Style for Slick dots */
.slick-dots {
	position: absolute;
	bottom: 20px; /* Adjust position if needed */
	width: 100%;
	text-align: center;
	list-style: none;
	display: flex;
	z-index: 100;
	justify-content: center;
	padding: 0;
}

.slick-dots li {
	margin: 0 15px;
	width: 10px; /* Size of bullet */
	height: 10px; /* Size of bullet */
}

.slick-dots li button {
	font-size: 0;
	width: 10px; /* Size of bullet */
	height: 10px; /* Size of bullet */
	border-radius: 50%; /* Makes them round */
	background-color: #bbb; /* Default color */
	border: none;
	cursor: pointer;
}

.slick-dots li.slick-active button {
	background-color: var(--electric-blue); /* Active dot color */
}

/* HORIZONTAL SCROLL: */

.horizontal {
	box-sizing: border-box;
	overflow: hidden;
}

.horizontal__container {
	margin: 0 auto;
	width: 100%;
	position: relative;
}

.horizontal__list {
	display: flex;
	/* padding-left: calc(50vw - 600px / 2); */
	padding-left: 24px;
	padding-top: 24px;
}

.horizontal__item {
	margin-left: 16px;
	box-sizing: border-box;
}

.horizontal__item:first-of-type {
	margin-left: 0;
}

/* TESTIMONIALS: */
div.section_testimonials {
	background-color: rgba(4, 73, 176, 1);
	background-image: url('../img/reviews_bg1.png');
	background-size: cover;
	height: 834px;
	padding: 0;
	position: relative;
	padding-top: 90px;
	/* linear-gradient(180deg, #356BCE 0%, #2453A8 100%); */
	z-index: 1;
}

.lentochka {
	background: url('../img/marketing_line.png') no-repeat;
	background-size: contain;
	background-position: top right;
	position: absolute;
	width: 88vw;
	height: 600px;
	top: 0;
	right: 0;
	z-index: 5;
}

.testimonials {
	position: absolute;
	bottom: 35px;
	max-width: 100%; /* или конкретное значение, например 1200px */
	height: 485px;
	/* margin: 0 auto; */
	overflow: hidden;
}

div.section_testimonials {
	overflow: hidden !important;
	height: 934px;
}
.group_testimonials .slick-slide {
	/* width: 80vw !important;  */
	margin-right: 70px;
}

.group_testimonials .slick-dots {
	bottom: -30px;
}

.group_testimonials .slick-arrow {
	width: 30px;
	height: 30px;
}

.group_testimonials .slick-next {
	right: 7px;
}
.group_testimonials .slick-prev {
	left: 7px;
}

.testimonials__container {
	width: 100%;
	z-index: 10;
	position: relative;
}
.testimonials__item {
	width: 277px;
	height: 362px !important;
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px;
	border-radius: 24px;
	transform-origin: center;
	background-color: var(--brand-white);
	box-shadow: 0px 5px 15px 0px #0000002a;
	margin: 5px 0 15px 0;
}

.testimonials__item h4 {
	color: var(--electric-blue);
	font-size: 14px;
	font-weight: 500;
	line-height: 18.2px;
}
.testimonials__item p {
	display: inline-block;
	flex-grow: 1;
	font-size: 15px;
	line-height: 21px;
}
.testimonials__item a {
	color: var(--electric-blue);
	cursor: pointer;
}

.testimonials__client {
	display: flex;
	gap: 12px;
	margin-top: 14px;
}

@media screen and (min-width: 600px) {
	.testimonials__item {
		width: 80vw !important;
	}
	.group_testimonials .slick-arrow {
		width: 40px;
		height: 40px;
	}
}
.client_img {
	width: 56px;
	height: 56px;
}

.client_label {
	color: var(--brand-black);
	font-size: 14px;
	font-weight: 400;
	line-height: 18.2px;
}
.client_name {
	color: #262626;
	font-size: 16px;
	font-weight: 600;
	line-height: 20.8px;
}

.mobile-set {
	display: block;
	position: relative;
	width: 350px;
	height: 707px;
	margin: 0 auto;
	background: url('../img/phone_case@2x.png') no-repeat;
	background-size: contain;
	z-index: 7;
}
.mobile-set > h3 {
	text-align: center;
	margin-top: -4px;
	font-size: 18px;
}
.mobile-set__img {
	display: block;
	width: 206px;
	height: auto;
	padding-top: 60px;
	margin: 0 auto;
}

div.section_partners {
	overflow: hidden;
	padding-top: 64px;
	/* padding-bottom: 64px; */
}

.partners__container {
	display: flex;
	width: max-content;
	gap: 8px;
	margin-top: 10px;
}

#partners {
	padding-bottom: 15px;
}
.partner {
	width: 150px;
	height: 64px;
	background-color: var(--brand-white);
	border-radius: 10px;
	padding: 0 16px;
	align-content: center;
	text-align: center;
}

.partner__img {
	height: 30px;
	width: auto;

	max-height: 30px;
	max-width: 115px;
	margin-top: 4px;
}

div.section_sert {
	overflow: hidden;
	padding-right: 0;
	margin-right: 0;
	padding-bottom: 100px;
}
div.section_sert #sert {
	margin-top: 0px;
}

.sert__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 13px;
	margin-top: 25px;
}

.sert__container .partner__img {
	max-height: 45px;
}
.section_flex-team {
	display: flex;
	gap: 16px;
	flex-direction: column;
}

.section_flex-team div.card:hover {
	cursor: pointer;
	background-color: rgba(191, 209, 248, 0.5);
}

.card {
	background-color: var(--brand-white);
	border-radius: 24px;
	padding: 24px;
}

.card_lets {
	padding: 32px 24px;
	background: url('../img/two_cats.png') no-repeat bottom right / auto 60%,
		url('../img/meow-banner-background.png') no-repeat top center / cover, var(--brand-white);
}

h2.h2_lets {
	font-size: 28px;
	font-weight: 600;
	line-height: 40px;
}

.buffer_lets {
	height: 262px;
}

.section_lets {
}

.section_about {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 24px;
}
.section_about .cards_container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 24px;
}

.button-primary {
	color: var(--brand-white);
	background-color: var(--brand-black);
	font-weight: 600;
	font-size: 16px;
	border-radius: 40px;
	border: 1px solid var(--brand-black);
	width: 100%;
	height: 58px;
	cursor: pointer;
	transition: all 0.3s;
}

.button-primary:hover,
.button-primary:active {
	background-color: var(--electric-blue);
	border-color: var(--electric-blue);
}

.inner-card {
	background-color: var(--light-blue);
	border-radius: 24px;
	padding: 16px;
	overflow: hidden;
}

.block-installs {
	display: flex;
	/* width: 100%; */
	flex-grow: 1;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	background-color: var(--brand-white);
	padding: 12px;
}
.inner-card_metrics {
	display: flex;
	flex-wrap: nowrap;
	gap: 7px;
}
.metric_t {
	flex-grow: 1;
	font-size: 12px;
}
.metric_p {
	background-color: #dafbeb;
	color: var(--normal-green);
	border-radius: 4px;
	font-size: 10px;
	padding: 4px;
	font-weight: 700;
}
.metric_d {
	font-weight: 600;
	font-size: 12px;
}
.buffer-installs {
	font-size: 6px;
	height: 10px;
	line-height: 10px;
}
.inner-card_metrics {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}
.block-installs-img {
	width: 100%;
	height: auto;
}

.block-traf {
	display: flex;
	align-items: center;
	gap: 16px;
	border-radius: 16px;
	color: var(--brand-white);
	font-weight: 600;
	height: 64px;
	width: 100%;
	text-transform: uppercase;
	padding: 8px;
	margin-bottom: 8px;
}
.block-traf > img {
	height: 100%;
	width: auto;
}
/* .block-traf > span {
	flex-grow: 1;
	text-align: center;
} */

.block-traf_1st {
	background-color: var(--medium-blue);
}

.block-traf_2nd {
	background-color: var(--electric-blue);
}

.block-traf_3rd {
	background-color: var(--value-blue);
}

.block-managers-img {
	display: block;
	max-width: 300px;
	min-width: 200px;
	height: auto;
	margin: 0 auto;
	/* margin-bottom: -23px; */
}

.section.awards {
	margin-top: 40px;
}
#awards {
	margin-top: 10px;
}
.awards__container {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
	margin-top: 60px;
}

.award {
	background-color: var(--light-blue);
	border-radius: 30px;
	width: 100%;
	max-width: 580px;
	min-width: 300px;
	position: relative;
	padding: 30px;
	text-align: center;
}

.award__logo {
	width: 140px;
	height: 56px;
	position: absolute;
	transform: translateX(-50%);
	top: -30px;
	left: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 17px 0 rgba(67, 81, 107, 0.2);
}

.award__img {
	height: 70px;
	width: auto;
}

.award__desc {
	font-size: 18px;
	font-weight: 500;
	line-height: 110%;
	margin: 10px;
	margin-top: 20px;
}
.award__place {
	font-size: 18px;
	line-height: 110%;
	font-weight: 700;
	color: var(--electric-blue);
	margin: 10px;
	margin-top: 20px;
}
@media (min-width: 990px) {
	.section.awards {
		margin-top: 52px;
	}
	.award {
		width: 50%;
	}
	.awards__container {
		gap: 40px;
		margin-top: 60px;
	}
	.award__logo {
	}
	.award__img {
		height: 100px;
		width: auto;
	}
	.award__desc {
		font-size: 24px;
	}
	.award__place {
		font-size: 24px;
	}
}

@media (min-width: 990px) and (max-width: 1350px) {
	.award__img {
		height: 80px;
		width: auto;
	}
	.award {
		max-width: 400px;
		padding: 20px;
	}
	.award__desc {
		font-size: 20px;
	}
	.award__place {
		font-size: 20px;
	}
}

/* FOOTER */

footer {
	background-color: var(--brand-black);
	color: var(--brand-white);
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	padding: 47px 16px 37px 16px;
}

.footer-info {
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: space-between;
}

.footer-info__item > span {
	display: block;
	opacity: 0.5;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 16px;
}

.footer-info__text {
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	text-decoration: none;
}

.footer-copy {
	opacity: 0.5;
	font-size: 12px;
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	gap: 10px;
}

.block-rost-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.section_services.horizontal {
	overflow: hidden;
}

.section_lets {
	position: relative;
}

.tap_lap {
	position: absolute;
	width: 70px;
	height: 250px;
	bottom: 0;
	left: 30%;
	/* animation: tapAnimation 8s infinite;  */
	animation: none;
}
.tap_lap > img {
	width: 70px;
	height: auto;
}

@keyframes tapAnimation {
	0% {
		transform: translateY(120%); /* Initial position */
	}
	22% {
		transform: translateY(48%); /* Position 2 */
	}
	24% {
		transform: translateY(48%); /* Position 2 */
	}
	28% {
		transform: translateY(50%) scale(0.95) translateX(10px); /* Position 3 with scale and X translation */
	}
	32% {
		transform: translateY(48%); /* Position 4 - return to position 2 */
	}
	60% {
		transform: translateY(120%); /* Position 5 - return to position 1 */
	}
	100% {
		transform: translateY(120%); /* Wait at position 1 before repeating */
	}
}

.scroll-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 55px;
	height: 55px;
	background: none;
	border: none;
	cursor: pointer;
	display: none; /* Скрываем кнопку по умолчанию */
	z-index: 2000;
}

.scroll-top img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	transition: opacity 0.3s;
}

/* Desktop version */

@media (min-width: 990px) {
	/* footer {
		width: 100vw;
		margin-left: -16px;
	} */

	.block-rost-container {
		flex-direction: row;
	}

	h1,
	.h1 {
		font-size: 107px;
		font-weight: 800;
		line-height: 128px;
	}

	.h1_footer {
		margin-bottom: 48px;
	}

	h2,
	.h2 {
		font-size: 36px;
		font-weight: 600;
		line-height: 22px;
		text-transform: uppercase;
	}

	h3,
	.h3 {
		font-size: 24px;
		line-height: 26px;
	}

	div.section {
		border-radius: 48px;
		padding: 48px 68px 68px;
	}

	div.section_partners {
		padding: 120px 0;
		margin: 0 auto;
		margin-right: 0;
		max-width: 100vw;
	}
	div.section_sert {
		padding: 0;
		padding-bottom: 180px;
		margin: 0 auto;
		width: 100vw;
	}
	#partners {
		max-width: 1440px;
		padding-left: 68px;
		margin: 0 auto;
	}

	.main-title {
		font-size: 45px;
		font-weight: 700;
		line-height: 58px;
		text-align: center;
		max-width: 900px;
		margin: 32px auto 48px auto;
	}
	.creative-word {
		padding: 10px 16px;
		font-size: 36px;
		line-height: 46px;
		font-weight: 700;
		border-radius: 16px;
	}

	.block-rost-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 24px;
	}

	div.card__channel_2 {
		flex-direction: row;
	}

	.card__channel_2 .card__channel_inner {
		min-width: 280px;
	}
	.card__channel {
		height: 178px;
		min-width: 200px;
		flex-grow: 1;
	}
	.card__channel_inner {
		height: 130px;
		flex-grow: 1;
	}
	.indicator_btn_revenue {
		/* width: max-content !important; */
		/* width: 182px !important; */
	}

	div.section_sert #sert {
		margin-top: 0px;
		padding-top: 5px;
		padding-left: 68px;
	}

	.sert__container {
		gap: 40px;
		margin-top: 40px;
		margin-left: 68px;
	}

	.sert__container .partner__img {
		max-height: 50px;
	}
	.partner {
		width: 259px;
		height: 109px;
		border-radius: 16px;
		padding: 0 16px;
		text-align: center;
	}
	.sert__container .partner {
		border-radius: 30px;
	}

	#partners {
		padding-bottom: 35px;
	}
	.partner__img {
		height: 45px;
		width: auto;
		max-height: 45px;
		max-width: 200px;
		margin: 0 auto;
		margin-top: 4px;
	}

	/* Testimonials */
	div.section_testimonials {
		padding: 0;
		height: 1054px;
	}
	.mobile-set {
		display: block;
		width: 520px;
		height: 1052px;
		margin: 0 auto;
		margin-top: 120px;
		background: url('../img/phone_case@2x.png') no-repeat;
		background-size: contain;
		z-index: 10;
	}
	.mobile-set h3 {
		margin-top: -14px;
		font-size: 27px;
		font-weight: 500;
		line-height: 35px;
		text-align: center;
	}

	.mobile-set__img {
		display: block;
		width: 314px;
		height: auto;
		margin: 0 auto;
		padding-top: 120px;
	}

	.testimonials {
		position: absolute;
		bottom: 0px;
		max-width: 100%;
		min-height: 450px;
	}

	.testimonials__item {
		width: 577px !important;
		height: 380px !important;
	}
	.card__channel_title {
		font-size: 64px;
		font-weight: 500;
		line-height: 70px;
		white-space: nowrap;
		color: var(--brand-white);
	}
	.card__channel_note {
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		color: var(--brand-white);
	}

	.section_about .cards_container {
		display: flex;
		flex-direction: row;
		gap: 16px;
		margin-top: 24px;
	}

	.section_flex-team h2 {
		margin-bottom: 24px;
	}
	.section_flex-team .card {
		display: flex;
	}
	.section_flex-team button {
		max-width: 250px;
	}
	.h3_vac {
		flex-grow: 1;
	}

	.card_lets {
		background: url('../img/two_cats.png') no-repeat bottom right / auto 90%,
			url('../img/meow-banner-background.png') no-repeat top left / cover, var(--brand-white);
	}

	.footer-info {
		flex-direction: row;
	}
	footer {
		padding: 76px 80px 16px 80px;
	}

	.tap_lap {
		width: 100px;
		height: 320px;
		/* animation: tapAnimation 8s infinite;  */
		animation: none;
	}
	.tap_lap > img {
		width: 100px;
		height: auto;
	}

	@keyframes tapAnimation {
		0% {
			transform: translateY(120%); /* Initial position */
		}
		5% {
			transform: translateY(120%); /* Initial position */
		}
		22% {
			transform: translateY(38%); /* Position 2 */
		}
		24% {
			transform: translateY(38%); /* Position 2 */
		}
		28% {
			transform: translateY(40%) scale(0.93) translateX(15px); /* Position 3 with scale and X translation */
		}
		32% {
			transform: translateY(38%); /* Position 4 - return to position 2 */
		}
		60% {
			transform: translateY(120%); /* Position 5 - return to position 1 */
		}
		100% {
			transform: translateY(120%); /* Wait at position 1 before repeating */
		}
	}

	.scroll-top {
		display: none;
	}
}

@media (min-width: 1400px) {
	@keyframes tapAnimation {
		0% {
			transform: translateY(100%); /* Initial position */
		}
		5% {
			transform: translateY(100%); /* Initial position */
		}
		22% {
			transform: translateY(38%); /* Position 2 */
		}
		24% {
			transform: translateY(38%); /* Position 2 */
		}
		28% {
			transform: translateY(40%) scale(0.93) translateX(15px); /* Position 3 with scale and X translation */
		}
		32% {
			transform: translateY(38%); /* Position 4 - return to position 2 */
		}
		50% {
			transform: translateY(100%); /* Position 5 - return to position 1 */
		}
		100% {
			transform: translateY(100%); /* Wait at position 1 before repeating */
		}
	}

	.testimonials__item {
		width: 577px !important;
		height: 380px !important;
	}
}

/* SERVICE CARDS BG */

.service__top_c1 {
	background: url('../img/bg_media_buy.png') no-repeat;
	background-size: cover;
}
.service__top_c1 h3 {
	color: var(--brand-white);
}

.service__top_c2 {
	background: url('../img/bg_traffik.png') no-repeat;
	background-size: cover;
}

.service__top_c2 h3 {
	color: var(--brand-white);
}

.service__top_c3 {
	background: var(--light-blue) url('../img/bg_laptop_cat_2.png') no-repeat;
	background-size: cover;
}

.service__top_c4 {
	background: url('../img/bg_kreatif.png') no-repeat;
	background-size: cover;
}

.service__top_c4 h3 {
	color: var(--brand-white);
}

.service__top_c5 {
	background: var(--light-blue) url('../img/bg_aso.png') no-repeat;
	background-size: cover;
}

.service__top_c6 {
	background: var(--light-blue) url('../img/bg_strat.png') no-repeat;
	background-size: cover;
}

div.section.section_buffer {
	/* margin: 10px;
	padding: 10px;
	height: 10px; */
}

/* Медиазапрос для маленьких экранов (смартфоны) */
@media (max-width: 575px) {
	/* Ваши стили для экранов с шириной до 575px */
}

/* Медиазапрос для средних экранов (планшеты) */
@media (min-width: 576px) and (max-width: 767px) {
	/* Ваши стили для экранов от 576px до 767px */
}

@media (min-width: 990px) and (max-width: 1439px) {
	.block-rost-container {
		max-width: 100%;
		flex-wrap: wrap;
	}
	.card__channel_2 {
		order: 3;
		max-width: 100%;
		width: 100%;
	}
}

.cat-heart {
	width: 100%;
	height: 280px;
	padding-bottom: 0;
	display: flex;
}

.section_services.horizontal {
	/* padding-right: 0; */
}

/* СТРАНИЦЫ ВАКАНСИЙ */

header.vacancy {
	height: 88px;
}

div.section.section_vacancy {
	padding: 0;
}

div.section.section_vacancy .container {
	padding: 38px 30px 64px 30px;
}

div.section.section_vacancy .container h1,
div.section.section_vacancy .container ul,
div.section.section_vacancy .container h3,
div.section.section_vacancy .container p {
	padding-left: 0;
	padding-right: 0;
}

div.section.section_vacancy .container .openModalBtn2 {
	margin-top: 63px;
}
.back-to-main > a {
	display: flex;
	align-items: center;
	gap: 14px;
}
.back-to-main img {
	width: 29px;
	height: auto;
}

div.section.section_vacancy * ul.vacancy-list {
	list-style-position: outside;
	padding-left: 30px;
}

div.section.section_vacancy * ul.vacancy-list li {
	padding-bottom: 10px;
}

.section.section_vacancy h1 {
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: -0.02em;
	margin: 22px 0;
	text-transform: uppercase;
}

.section.section_vacancy h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 26.4px;
	margin: 49px 0 20px 0;
	padding: 0;
}

@media (min-width: 990px) {
	header.vacancy {
		height: 118px;
	}
	div.section.section_vacancy .container {
		padding: 84px 100px;
		padding-bottom: 142px;
		margin: 0 auto;
	}
	.section.section_vacancy h1 {
		font-size: 45px;
		line-height: 58.5px;
		margin: 65px 0 78px 0;
	}
	.section.section_vacancy h3 {
		margin: 55px 0 45px 0;
	}
	.section.section_vacancy button {
		max-width: 235px;
	}
}

/* БЛОК КЕЙСОВ */

.section.section_cases {
	border-radius: 0;
	padding: 48px 0;
	margin-top: 50px;
	margin-bottom: 130px;
	height: 533px;
}

.cases__title {
	padding: 0 10px 36px 24px;
}
.cases__slider {
	height: 533px;
}
.cases__item {
	padding: 25px;
}

.cases__slider .slick-dots {
	bottom: 40px;
}

.cases__slider .slick-dots li.slick-active button {
	background-color: black;
}
.cases__item-moneyman {
	background: url('/img/cases/banner_moneyman_bg.png') no-repeat center right 70px / cover;
	background-color: #a2e01a;
}

.cases__item-moneyman > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 480px !important;
}

.cases__item-moneyman .pan_left {
	color: #fff;
	max-width: 600px;
}
.cases__item-moneyman .pan_right {
	display: none;
}
.cases__item-moneyman .pan_left .punkts__logo img {
	width: 240px;
	height: auto;
}
.cases__item-moneyman .pan_right > img {
	width: 695px;
	height: auto;
}

.cases__item-moneyman .pan_left .str1 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
}

.cases__item-moneyman .pan_left .str2 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
}
.cases__item-moneyman .pan_left button {
	margin-top: 110px;
	max-width: 345px;
}

.cases__item-podruzhka {
	background: url('/img/cases/banner_podruzhka_bg.png') no-repeat center right 0px / cover;
	background-color: #ffa9da;
}

.cases__item-podruzhka > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 480px !important;
}

.cases__item-podruzhka .pan_left {
	color: #1b241b;
	max-width: 600px;
}
.cases__item-podruzhka .pan_right {
	display: none;
}
.cases__item-podruzhka .pan_left .punkts__logo img {
	width: 240px;
	height: auto;
}
.cases__item-podruzhka .pan_right > img {
	width: 695px;
	height: auto;
}

.cases__item-podruzhka .pan_left .str1 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	margin-top: 30px;
}

.cases__item-podruzhka .pan_left .str2 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
}
.cases__item-podruzhka .pan_left button {
	margin-top: 110px;
	max-width: 345px;
}

.cases__item.cases__item-mdost {
	height: 533px;
	padding: 25px;
}

.cases__item.cases__item-mdost > div {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: left;
}
.cases__item-mdost {
	background-image: none;
	background: #f9eee2;
}

.cases__item-mdost > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 480px !important;
}

.cases__item-mdost .pan_left {
	color: #1b241b;
	max-width: 600px;
}
.cases__item-mdost .pan_right {
	display: none;
}
.cases__item-mdost .pan_left .punkts__logo img {
	width: 240px;
	height: auto;
}

.cases__item-mdost .pan_right > img {
	width: 695px;
	height: auto;
}

.cases__item-mdost .pan_left .str1 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	margin-top: 30px;
}

.cases__item-mdost .pan_left .str2 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
}
.cases__item-mdost .pan_left button {
	margin-top: 110px;
	max-width: 345px;
}

.cases__item.cases__item-mmark {
	height: 533px;
	padding: 25px;
}
.cases__item.cases__item-mmark > div {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: left;
}
.cases__item-mmark {
	background-image: none;
	background: #ff452b;
}

.cases__item-mmark > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 480px !important;
}

.cases__item-mmark .pan_left {
	color: #fff;
	max-width: 600px;
}
.cases__item-mmark .pan_right {
	display: none;
}
.cases__item-mmark .pan_left .punkts__logo img {
	width: 240px;
	height: auto;
}

/* .cases__item-mmark .pan_right > img {
	width: 695px;
	height: auto;
} */

.cases__item-mmark .pan_left .str1 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	margin-top: 30px;
}

.cases__item-mmark .pan_left .str2 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
}
.cases__item-mmark .pan_left button {
	margin-top: 110px;
	max-width: 345px;
}

.cases__item.cases__item-more {
	background-color: #fff;
	height: 533px;
	padding: 25px;
}
.cases__item.cases__item-more > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.cases__item-more h2 {
	text-align: center;
	text-transform: none;
	color: var(--electric-blue);
}
.cases__item-more img {
	width: 100%;
	max-width: 600px;
	height: auto;
	text-align: center;
}
.cases__slider {
	display: block !important;
}

.section > h2 {
	margin-top: 40px;
}
@media (min-width: 990px) {
	.section.section_cases {
		margin-top: 120px;
		margin-bottom: 180px;
	}

	.cases__title {
		padding: 0 10px 36px 68px;
	}
	.cases__slider .slick-next {
		right: 20px;
	}
	.cases__slider .slick-prev {
		left: 20px;
	}
	.cases__slider .slick-arrow {
		top: 50%;
	}
	.cases__item {
		height: 533px;
		padding: 50px 80px;
	}
	/* fix for desktop */
	.cases__item.slick-slide {
		/* left: 30px; */
	}
	/* .slick-track {
		left: 0 !important;
		transform: translate3d(0px, 0px, 0px) !important;
	} */

	.cases__item-moneyman {
		background: url('/img/cases/banner_moneyman_bg.png') no-repeat center right 70px / cover;
		background-color: #a2e01a;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-right: 0;
	}

	.cases__item-moneyman > div {
		height: 430px !important;
	}
	.cases__item-moneyman .pan_left {
		color: #fff;
		max-width: 600px;
	}
	.cases__item-moneyman .pan_right {
		display: block;
		max-width: 695px;
		overflow: hidden;
	}
	.cases__item-moneyman .pan_left .punkts__logo img {
		width: 300px;
		height: auto;
	}
	.cases__item-moneyman .pan_right > img {
		width: 695px;
		height: auto;
	}

	.cases__item-moneyman .pan_left .str1 {
		font-size: 30px;
		line-height: 39px;
		margin-top: 30px;
	}

	.cases__item-moneyman .pan_left .str2 {
		font-size: 80px;
		line-height: 80px;
	}
	.cases__item-moneyman .pan_left button {
		margin-top: 90px;
		max-width: 345px;
	}

	.cases__item-podruzhka {
		background: url('/img/cases/banner_podruzhka_bg.png') no-repeat center right / cover;
		background-color: #ffa9da;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-right: 0;
	}

	.cases__item-podruzhka > div {
		height: 430px !important;
	}
	.cases__item-podruzhka .pan_left {
		color: #1b241b;
		max-width: 600px;
	}
	.cases__item-podruzhka .pan_right {
		display: block;
		max-width: 620px;
		width: 620px;
		overflow: visible;
		position: relative;
	}
	.cases__item-podruzhka .pan_left .punkts__logo img {
		width: 300px;
		height: auto;
	}
	.cases__item-podruzhka .pan_right > img {
		position: absolute;
		display: block;
		top: 0;
		left: -50px;
		width: 620px;
		height: auto;
	}

	.cases__item-podruzhka .pan_left .str1 {
		font-size: 30px;
		line-height: 39px;
		margin-top: 30px;
	}

	.cases__item-podruzhka .pan_left .str2 {
		font-size: 80px;
		line-height: 80px;
	}
	.cases__item-podruzhka .pan_left button {
		margin-top: 90px;
		max-width: 345px;
	}

	.cases__item.cases__item-mdost {
		background-color: #f9eee2;
		background: #f9eee2 url('/img/cases/md_cat.png') no-repeat center right 70px / contain;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 50px 80px;
		padding-right: 0;
	}

	.cases__item-mdost > div {
		height: 430px !important;
	}
	.cases__item-mdost .pan_left {
		color: #1b241b;
		max-width: 600px;
	}
	.cases__item-mdost .pan_right {
		display: block;
		max-width: 620px;
		width: 620px;
		overflow: visible;
		position: relative;
	}
	.cases__item-mdost .pan_left .punkts__logo img {
		width: 300px;
		height: auto;
	}
	.cases__item-mdost .pan_right > img {
		position: absolute;
		display: block;
		top: 0;
		left: -50px;
		width: 620px;
		height: auto;
	}

	.cases__item-mdost .pan_left .str1 {
		font-size: 30px;
		line-height: 39px;
		margin-top: 30px;
	}

	.cases__item-mdost .pan_left .str2 {
		font-size: 80px;
		line-height: 80px;
	}
	.cases__item-mdost .pan_left button {
		margin-top: 90px;
		max-width: 345px;
	}

	.cases__item.cases__item-mmark {
		background-color: #ff452b;
		background: url('/img/cases/mm_cat.png') no-repeat center right -30px / 50%, #ff452b;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 50px 80px;
		padding-right: 0;
	}

	.cases__item-mmark > div {
		height: 430px !important;
	}
	.cases__item-mmark .pan_left {
		color: #1b241b;
		max-width: 600px;
	}
	.cases__item-mmark .pan_right {
		display: block;
		max-width: 620px;
		width: 620px;
		overflow: visible;
		position: relative;
	}
	.cases__item-mmark .pan_left .punkts__logo img {
		width: 300px;
		height: auto;
	}

	.pan_right {
		position: relative;
	}
	.pan_right .heart2 {
		position: absolute;
		right: 60px;
		bottom: 0;
		width: 70px;
		pointer-events: none;
	}

	.pan_right .heart1 {
		position: absolute;
		left: -52px;
		bottom: 50px;
		width: 130px;
		pointer-events: none;
	}
	.cases__item-mmark .pan_left .str1 {
		font-size: 30px;
		line-height: 39px;
		margin-top: 30px;
	}

	.cases__item-mmark .pan_left .str2 {
		font-size: 80px;
		line-height: 80px;
	}
	.cases__item-mmark .pan_left button {
		margin-top: 90px;
		max-width: 345px;
	}
}
