.brandmenu {
  gap: 1px;
  @include mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    gap: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }

  li {
    height: 80px;
    list-style: none !important;
    margin: 0;
    padding: 0;
    cursor: pointer;
    &:hover {
      color: var(--main-white);
      background-color: var(--main-bronze);
    }
    &:last-child a {
      border-bottom: 1px solid rgba(192, 179, 168, 0.3);
    }
  }

  &__link {
    padding: 29px 24px;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--main-bronze);
    background-color: var(--main-beige);
    border-top: 1px solid rgba(192, 179, 168, 0.3);
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
      color: var(--main-white);
      background-color: var(--main-bronze);
    }

    &:active {
      color: var(--main-white);
      background-color: var(--main-bronze);
    }
  }

  .active {
    color: var(--main-white);
    background-color: var(--main-bronze);
  }
}

// стили для мобильного аккордеона
.brands-details__menu_sk {
  @include mobile {
    height: auto;
    overflow-y: auto;
  }
}

.brands-details__menu {
  .menu-container.mobile {
    overflow-y: clip;
  }
  .menu-container .accordion {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .menu-container .panel {
    font-size: 18px;
    line-height: 22px;
  }
  .menu-container .accordion.active {
    //color: var(--main-black);
  }

  .menu-container .accordion:hover {
    //color: var(--main-bronze);
  }

  /* Подменю брендов. Hidden by default. */
  .menu-container .panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .menu-container .accordion .brandmenu__link:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='24' viewBox='0 0 26 24' fill='none'%3E%3Cpath d='M0.999999 6L13 18L25 6' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    float: right;
    margin-left: 8px;
    margin-top: -3px;
  }

  .menu-container .accordion.active .brandmenu__link:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='24' viewBox='0 0 26 24' fill='none'%3E%3Cpath d='M0.999999 6L13 18L25 6' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    transform: rotate(180deg);
    margin-top: -5px;
  }
}
