.line {

  .container {
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 0 160px;
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  h1 {
    text-align: center;
    margin-top: 130px;
  }

  &__item {
    background-color: var(--dark-gray);
    flex-direction: column;
    padding: 48px 40px;
    transition: 0.4s;
    @include mobile {
      padding: 24px 17px;
    }
    @include hover {
      animation: itemmove 0.5s ;
      background-color: #535250;
      cursor: pointer!important;
    }

  }
  @keyframes itemmove {
      0% {
        scale: 100%;
      }
      50% {
        scale: 102%;
      }
      100% {
        scale: 100%;
      }
  }
  .item-link {
    float: left;
    white-space: nowrap;
  }
  .item-link .text  {
    @include mobile {
      padding-right: 7px;
    }

  }
  .item-link * {
    color: var(--main-white);
    transition: 0.4s;
  }
}
