.card {
  background-color: var(--main-beige);
  padding: 0 55px;
  display: block;
  padding-top: 80px;
  padding-bottom: 150px;
  min-height: 750px;
  position: relative;
  z-index: 4;

  @include mobile {
    padding: 40px 24px 80px 24px!important;
    min-height: 480px;
  }
}

.card .container {
  z-index: 5;
}


.card-container {
  position: relative;
  z-index: 0;
}

.card-card {
  position: absolute;
  padding: 80px 80px 77px 112px;
  top: 0;
  left: 0;
  min-height: 200px;
  max-height: 420px;
  width: 55%;
  z-index: 10;
  background-color: var(--color-black);
  background-image: url($rootpath + 'img/line-cmilk-card-vert.png');
  background-repeat: no-repeat;
  background-position: 80px 112px;
  background-size: 2px calc(100% - 192px);

  @include mobile {
    position: relative;
    padding: 32px 40px 24px 64px;
    width: 100%;
    background-position: 32px 62px;
    background-size: 2px calc(100% - 80px);

  }
  &_reversed {
    top: 0;
    left: auto;
    right: 0;
    text-align: right;
    background-position: calc(100% - 80px) 112px;
    padding: 80px 112px 77px 80px;
    @include mobile {
      top: 0;
      left: auto;
      background-position: calc(100% - 32px) 62px;
      padding: 32px 64px 24px 44px;
    }

  }
  &_back-reversed {
    top: 140px;
    left: 0!important;
    right: auto;
    @include mobile {
      top: 0;
      left: auto;
      right: 0;
    }
  }

  &__line {
    border-top: 1px solid var(--coffee-milk);
  }

  &__back {
    position: absolute;
    top: 140px;
    left: 45%;

    width: 55%;
    height: 480px;

    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;

    @include mobile {
      position: relative;
      top: 0;
      left: auto;
      right: 0;
      margin-right: 24px;
      height: auto;
      width: 100%;
      max-width: 500px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__pic {
    height: 300px;
    // position: absolute;
    bottom: 0;
    margin: 0;
    vertical-align: bottom;

    @include mobile {
      height: 200px;
    }
  }

  &__link {
    text-transform: uppercase;
    color: var(--main-white);
    font-size: 22px;
    line-height: 27px;
    display: block;
    margin-bottom: 24px;

    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }

    img {
      margin-left: 15px;
      margin-bottom: -2px;
    }
  }

}

.card-card h1 {
  color: var(--main-white);
  margin-top: 50px;
  margin-bottom: 6px;

  @include mobile {
    margin-top: 24px;
  }
}

.card-card p {
  color: var(--main-white);
  font-size: 22px;
  line-height: 27px;
  width: 75%;

  @include mobile {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
}
