// Бургер в хедере
.burger {
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: auto;

  &__line {
    position: absolute;
    background-color: var(--main-bronze);
    height: 1px;
    width: 40px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-top: -10px;
    }
  }
  // @include small-desktop {
  //   margin-left: auto;
  // }

  @include mobile {
    //margin-left: auto;
  }
}

.icon-close {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L29.2843 29.2843' stroke='%23A3784E' stroke-linecap='round'/%3E%3Cpath d='M1 29.2842L29.2843 0.999909' stroke='%23A3784E' stroke-linecap='round'/%3E%3C/svg%3E%0A")
    no-repeat center center;
  width: 30px;
  min-width: 30px;
  height: 30px;
}

// Меню и пункты меню

.topmenu-mobile {
  position: fixed;
  z-index: 200;
  top: 0;
  right: -100vw;
  background-color: var(--main-white);
  max-width: 753px;
  max-height: 812px;
  height: 100%;
  width: 100vw;
  transition: 0.6s ease-out;
  &__head {
    position: relative;
    height: 84px;
    padding: 0 24px;
    background-color: var(--color-black);
    align-items: center;
    justify-content: space-between;
  }
  &__buffer {
    max-width: 30px;
    flex: 1 1;
  }
  &__search {
    width: 327px;
    @media (max-width: 500px) {
      padding-right: 50px;
    }
  }
  &__backdrop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(60, 59, 53, 0.8);
    padding: inherit;
    visibility: hidden;
    z-index: 5;
  }

  @include desktop {
    display: none;
  }

  // @include small-desktop {
  //   display: block;
  // }

  @include mobile {
    display: block;
  }
}

.menu--active {
  right: 0;
}
.hidden {
  display: none;
}
.nav-mob {
  max-width: 360px;
  padding: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  margin: auto;
  margin-top: 32px;
  align-items: center;
  opacity: 0;
  transition: 0.8s;

  max-height: calc(100vh - 60px);
  overflow-y: auto;

  &__list {
    flex-direction: column;
    margin-top: 32px;
  }

  &__item {
    padding: 28px 16px;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
  }
  .sub :after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='26' viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 25L18 13L6 1' stroke='%233C3B35' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    height: 24px;
    position: absolute;
    top: 20px;
    right: 16px;
  }

  &__link {
    color: var(--main-black);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    transition: 0.3s;
    @include hover {
      color: var(--dark-bronze);
    }
  }
  // кнопка-стрелка "назад"

  &__back {
    display: flex;
    align-items: center;
  }

  &__back img {
    cursor: pointer;
    display: block;
    height: 44px;
    margin-top: 24px;
    margin-left: 24px;
    //float: left;
  }
  &__back span {
    line-height: 22px;
    margin-top: 24px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding-left: 32px;
    text-transform: uppercase;
    color: var(--main-bronze);
  }
}
.nav-mob * a {
  color: var(--main-black);
}
.nav-mob > button {
  text-transform: uppercase;
  padding: 0 25px;
  margin-top: 80px;
  margin-left: 1px;
  width: 98%;
}

.menu--active * .nav-mob {
  opacity: 1;
  transition: 0.3s ease;
}

.nav-mob.slide-left {
  transform: translateX(-100vw);
}
.nav-mob.slide-right {
  transform: translateX(100vw);
}

.topmenu-mob {
  &__brands {
    visibility: hidden;
  }

  &__manuf {
    visibility: hidden;
  }

  &_show {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

// @mixin abscenter {
//   position: absolute;
//   left: 0;
//   right: 0;
//   margin: auto;
// }

// ССЫЛКИ "СМОТРЕТЬ ВСЕ"
.link-more {
  border-bottom: none !important;
}
.link-more:after {
  content: none !important;
}

.link-more a {
  color: var(--main-bronze);
  &:after {
    content: url("data:image/svg+xml,%3Csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6154 14.5L25 7.52528M25 7.52528L17.6154 0.5M25 7.52528L1 7.52528' stroke='%23886A44' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); //  url($rootpath + '/img/arrow-hl-right-small.png');
    height: 14px;
    top: 5px;
    margin-left: 16px;
  }
}

.nav-mob-l1,
.nav-mob-l2,
.nav-mob-l3,
.nav-mob-l4 {
  position: absolute;
  margin: auto;
  background-color: var(--main-white);
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}
.nav-mob-l1 {
  z-index: 500;
  &__brands a {
    margin: 0;
  }
  &__item {
    padding: 20px 16px;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
  }
  &__link {
    color: var(--main-black);
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.3s;

    @include hover {
      color: var(--dark-bronze);
    }
  }
}
.nav-mob-l1 .pic-container .piclink {
  margin: 0;
  margin-top: 40px;
  margin-left: auto;
  max-width: 170px;
  &__pic {
    width: 160px;
  }
}
.pic-container {
  justify-content: space-between;
}

.nav-mob-l2 {
  //z-index: 600;
  &__item {
    padding: 20px 16px;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
  }
  &__item:after {
    content: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.375 13L7.375 7L1.375 1' stroke='%23B8B8B8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    height: 14px;
    position: absolute;
    top: 20px;
    right: 16px;
  }
  &__list {
    margin-left: 16px;
    margin-top: -20px;
    flex-direction: column;
  }

  &__link {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
}
.nav-mob-l3 {
  z-index: 700;
  //z-index: 600;
  &__item {
    padding: 20px 16px;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
  }

  &__item:after {
    content: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.375 13L7.375 7L1.375 1' stroke='%23B8B8B8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    height: 14px;
    position: absolute;
    top: 20px;
    right: 16px;
  }

  &__list {
    margin-left: 16px;
    margin-top: -20px;
    flex-direction: column;
  }

  &__link {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
}

.nav-mob-l4 {
  z-index: 800;
  //z-index: 600;
  &__item {
    padding: 20px 16px;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
  }

  &__item:after {
    content: none;
  }

  &__list {
    margin-left: 16px;
    margin-top: -20px;
    flex-direction: column;
  }

  &__link {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
}
